In [1]:
import pandas as pd
import matplotlib as plt
import glob, os
import csv
import datetime

In [2]:
test = pd.read_csv("201904-capitalbikeshare-tripdata.csv")
bike06 =pd.read_csv("202006-capitalbikeshare-tripdata 2.csv")
test.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,313,4/1/19 0:03,4/1/19 0:08,31618,4th & East Capitol St NE,31630,15th & East Capitol St NE,W24063,Member
1,453,4/1/19 0:07,4/1/19 0:15,31119,14th & Belmont St NW,31298,15th & M St NW,W22080,Member
2,333,4/1/19 0:09,4/1/19 0:15,31203,14th & Rhode Island Ave NW,31519,1st & O St NW,W00276,Member
3,568,4/1/19 0:10,4/1/19 0:19,31202,14th & R St NW,31103,16th & Harvard St NW,W21582,Member
4,1609,4/1/19 0:10,4/1/19 0:37,31517,Union Market,31655,New Jersey Ave & F St NW,75558,Member

In [3]:
test['Start date'] = pd.to_datetime(test['Start date'])
test['Start date'] = pd.to_datetime(test['End date'])
test['day_of_week'] = test['Start date'].dt.day_name()
print(test.sample(5))

        Duration          Start date       End date  Start station number  \
336981       536 2019-04-30 07:29:00   4/30/19 7:29                 31118
328422       790 2019-04-29 09:28:00   4/29/19 9:28                 31627
152371      1571 2019-04-13 19:06:00  4/13/19 19:06                 31506
83828        399 2019-04-08 08:16:00    4/8/19 8:16                 31625
273634      1591 2019-04-24 11:01:00  4/24/19 11:01                 31211

                    Start station  End station number  \
336981            3rd & Elm St NW               31201
328422              3rd & M St NE               31251
152371  1st & Rhode Island Ave NW               31304
83828               3rd & G St SE               31272
273634             Kennedy Center               31218

                                 End station Bike number Member type  \
336981                        15th & P St NW      W21557      Member
328422                        12th & L St NW      W21515      Member
152371    36th & Calvert St NW / Glover Park       78244      Member
83828   Washington & Independence Ave SW/HHS      W20355      Member
273634        L'Enfant Plaza / 7th & C St SW      W23777      Member

       day_of_week
336981     Tuesday
328422      Monday
152371    Saturday
83828       Monday
273634   Wednesday

In [5]:
test.columns

Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type', 'day_of_week'],
      dtype='object')

In [18]:
bike06.head()
bike06.rename(columns={"started_at": "Start date", "ended_at": "End date", "start_station_name": "Start station","end_station_name":"End station", "member_casual": "Member type"},inplace=True)
bike06

,ride_id,rideable_type,Start date,End date,Start station,start_station_id,End station,end_station_id,start_lat,start_lng,end_lat,end_lng,Member type
0,16A86B048B01DE6F,docked_bike,6/10/20 20:20,6/10/20 20:27,Edgewood Rec Center,642.0,Rhode Island Ave Metro,368.0,38.924144,-77.002098,38.920682,-76.995876,member
1,661EA082175DB7E9,docked_bike,6/23/20 6:31,6/23/20 6:58,Wisconsin Ave & O St NW,289.0,Edgewood Rec Center,642.0,38.908490,-77.063586,38.924144,-77.002098,member
2,15C659A06C439B74,docked_bike,6/6/20 11:49,6/6/20 11:49,19th & K St NW,269.0,19th & K St NW,269.0,38.902204,-77.043370,38.902204,-77.043370,member
3,59AD75CFBF96DEC1,docked_bike,6/6/20 11:52,6/6/20 12:21,19th & K St NW,269.0,10th & K St NW,199.0,38.902204,-77.043370,38.902400,-77.026220,member
4,06F6881BEFCFC106,docked_bike,6/7/20 15:25,6/7/20 17:15,37th & O St NW / Georgetown University,152.0,Georgetown Harbor / 30th St NW,102.0,38.907740,-77.071652,38.902221,-77.059219,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
213990,D99990073F563102,docked_bike,6/29/20 10:00,6/29/20 10:52,Gravelly Point,230.0,Henry Bacon Dr & Lincoln Memorial Circle NW,452.0,38.865029,-77.039511,38.890544,-77.049379,member
213991,58D09B25F2855753,docked_bike,6/15/20 11:32,6/15/20 11:42,4th & D St NW / Judiciary Square,145.0,15th & L St NW,394.0,38.895344,-77.016106,38.903660,-77.034846,member
213992,93D83692B0CDD8F4,docked_bike,6/4/20 9:46,6/4/20 10:02,Gravelly Point,230.0,Henry Bacon Dr & Lincoln Memorial Circle NW,452.0,38.865029,-77.039511,38.890544,-77.049379,member
213993,E6D250776A6F0276,docked_bike,6/4/20 9:20,6/4/20 9:43,Jefferson Memorial,187.0,Gravelly Point,230.0,38.879819,-77.037413,38.865029,-77.039511,member
213994,D47E5A8F94C7B504,docked_bike,6/19/20 23:50,6/20/20 0:58,10th & E St NW,273.0,10th & E St NW,273.0,38.895914,-77.026064,38.895914,-77.026064,casual

In [21]:
bike06['Start date'] = pd.to_datetime(bike06['Start date'])
bike06['End date'] = pd.to_datetime(bike06['End date'])
bike06['day_of_week'] = bike06['Start date'].dt.day_name()
bike06.head()

,ride_id,rideable_type,Start date,End date,Start station,start_station_id,End station,end_station_id,start_lat,start_lng,end_lat,end_lng,Member type,day_of_week
0,16A86B048B01DE6F,docked_bike,2020-06-10 20:27:00,2020-06-10 20:27:00,Edgewood Rec Center,642.0,Rhode Island Ave Metro,368.0,38.924144,-77.002098,38.920682,-76.995876,member,Wednesday
1,661EA082175DB7E9,docked_bike,2020-06-23 06:58:00,2020-06-23 06:58:00,Wisconsin Ave & O St NW,289.0,Edgewood Rec Center,642.0,38.908490,-77.063586,38.924144,-77.002098,member,Tuesday
2,15C659A06C439B74,docked_bike,2020-06-06 11:49:00,2020-06-06 11:49:00,19th & K St NW,269.0,19th & K St NW,269.0,38.902204,-77.043370,38.902204,-77.043370,member,Saturday
3,59AD75CFBF96DEC1,docked_bike,2020-06-06 12:21:00,2020-06-06 12:21:00,19th & K St NW,269.0,10th & K St NW,199.0,38.902204,-77.043370,38.902400,-77.026220,member,Saturday
4,06F6881BEFCFC106,docked_bike,2020-06-07 17:15:00,2020-06-07 17:15:00,37th & O St NW / Georgetown University,152.0,Georgetown Harbor / 30th St NW,102.0,38.907740,-77.071652,38.902221,-77.059219,casual,Sunday

In [ ]:
path = "/Users/germanportes/Documents/GW_Bootcamp/Project/Group-Project_team3/Resources"
path

In [ ]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
bikeshare= pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
bikeshare.to_csv( "Bikeshare_data.csv", index=False, encoding='utf-8')